* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
* a {
  text-decoration: none;
  color: #000;
}

.section-title {
  font-size: 2.2vmax;
  font-weight: 600;
  color: #bd1414;
}
@media screen and (orientation: portrait) {
  .section-title {
    font-size: 3.5vmax;
  }
}

.section-description {
  font-size: 1.1vmax;
  font-weight: 300;
  margin-top: 1vmax;
}
@media screen and (orientation: portrait) {
  .section-description {
    font-size: 1.8vmax;
  }
}

.wrapper-1 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: url(../assets/img/weiding-2.jpg);
}
@media screen and (orientation: portrait) {
  .wrapper-1 {
    justify-content: center;
  }
}
.wrapper-1 .wrapper-1-content {
  background-color: #fefefe;
  width: 40%;
  margin-left: 8%;
  margin-top: 12%;
  padding: 3vmax;
}
@media screen and (orientation: portrait) {
  .wrapper-1 .wrapper-1-content {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}
@media screen and (orientation: portrait) and (max-width: 550px) {
  .wrapper-1 .wrapper-1-content {
    width: 90%;
  }
}
.wrapper-1 .wrapper-1-content .wrapper-1-title {
  font-size: 2.6vmax;
  font-weight: 600;
  color: #bd1414;
}
@media screen and (orientation: portrait) {
  .wrapper-1 .wrapper-1-content .wrapper-1-title {
    font-size: 4.2vmax;
  }
}
.wrapper-1 .wrapper-1-content .wrapper-1-description {
  font-size: 1.1vmax;
  font-weight: 300;
  margin-top: 1vmax;
}
@media screen and (orientation: portrait) {
  .wrapper-1 .wrapper-1-content .wrapper-1-description {
    font-size: 1.8vmax;
  }
}
.wrapper-1 .wrapper-1-content .wrapper-1-btn {
  border: none;
  border-bottom: 2px solid #bd1414;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vmax;
  padding: 0.25vmax 0;
  font-size: 1.1vmax;
  cursor: pointer;
  color: #bd1414;
  background-color: #fefefe;
}
@media screen and (orientation: portrait) {
  .wrapper-1 .wrapper-1-content .wrapper-1-btn {
    font-size: 1.8vmax;
  }
}
.wrapper-1 .wrapper-1-content .wrapper-1-btn:hover .wrapper-1-btn-icon {
  margin-left: 1vmax;
  transition: 150ms ease-in-out;
}
.wrapper-1 .wrapper-1-content .wrapper-1-btn .wrapper-1-btn-icon {
  width: 1vmax;
  height: 1vmax;
  margin-left: 0.5vmax;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/icons/index-wrapper-1-btn1.svg);
  filter: invert(16%) sepia(93%) saturate(2734%) hue-rotate(352deg) brightness(94%) contrast(96%);
}
@media screen and (orientation: portrait) {
  .wrapper-1 .wrapper-1-content .wrapper-1-btn .wrapper-1-btn-icon {
    width: 1.5vmax;
    height: 1.5vmax;
  }
}

.wrapper-2 {
  width: 100%;
  padding: 8vmax 10%;
  display: flex;
  justify-content: space-between;
}
@media screen and (orientation: portrait) {
  .wrapper-2 {
    flex-direction: column;
  }
}
@media screen and (orientation: portrait) and (max-width: 550px) {
  .wrapper-2 {
    padding: 8vmax 5%;
  }
}
.wrapper-2 .wrapper-2-title {
  width: 15%;
  font-size: 1.4vmax;
  font-weight: 300;
  color: #bd1414;
}
@media screen and (orientation: portrait) {
  .wrapper-2 .wrapper-2-title {
    width: 100%;
    font-size: 3.5vmax;
  }
}
.wrapper-2 .wrapper-2-description {
  width: 85%;
  font-size: 1.4vmax;
  font-weight: 300;
}
@media screen and (orientation: portrait) {
  .wrapper-2 .wrapper-2-description {
    width: 100%;
    font-size: 1.8vmax;
    margin-top: 2vmax;
  }
}

.wrapper-3 {
  width: 100%;
  padding: 6vmax 10%;
}
@media screen and (orientation: portrait) and (max-width: 550px) {
  .wrapper-3 {
    padding: 6vmax 5%;
  }
}
.wrapper-3 .wrapper-3-container {
  width: 100%;
  margin-top: 4vmax;
  display: flex;
}
.wrapper-3 .wrapper-3-container .wrapper-3-items {
  display: flex;
  flex-direction: column;
}
.wrapper-3 .wrapper-3-container .wrapper-3-items .wrapper-3-item {
  width: 100%;
  margin: 2vmax 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (orientation: portrait) {
  .wrapper-3 .wrapper-3-container .wrapper-3-items .wrapper-3-item {
    flex-direction: column;
  }
}
.wrapper-3 .wrapper-3-container .wrapper-3-items .wrapper-3-item .wrapper-3-img {
  width: 25vmax;
  height: 25vmax;
  background-color: #ececec;
}
@media screen and (orientation: portrait) {
  .wrapper-3 .wrapper-3-container .wrapper-3-items .wrapper-3-item .wrapper-3-img {
    width: 100%;
  }
}
.wrapper-3 .wrapper-3-container .wrapper-3-items .wrapper-3-item .wrapper-3-content {
  width: 50%;
}
@media screen and (orientation: portrait) {
  .wrapper-3 .wrapper-3-container .wrapper-3-items .wrapper-3-item .wrapper-3-content {
    width: 100%;
  }
}
.wrapper-3 .wrapper-3-container .wrapper-3-items .wrapper-3-item .wrapper-3-content .wrapper-3-title {
  font-size: 2vmax;
  font-weight: 500;
  color: #bd1414;
}
@media screen and (orientation: portrait) {
  .wrapper-3 .wrapper-3-container .wrapper-3-items .wrapper-3-item .wrapper-3-content .wrapper-3-title {
    font-size: 3.5vmax;
    margin-top: 2vmax;
  }
}
.wrapper-3 .wrapper-3-container .wrapper-3-items .wrapper-3-item .wrapper-3-content .wrapper-3-description {
  font-size: 1.1vmax;
  font-weight: 300;
  margin-top: 2vmax;
}
@media screen and (orientation: portrait) {
  .wrapper-3 .wrapper-3-container .wrapper-3-items .wrapper-3-item .wrapper-3-content .wrapper-3-description {
    font-size: 1.8vmax;
  }
}
.wrapper-3 .wrapper-3-container .wrapper-3-items .wrapper-3-item .wrapper-3-point {
  width: 3vmax;
  height: 3vmax;
  margin-right: -1.7vmax;
  z-index: 1;
  border-radius: 50%;
  background-color: #fefefe;
  border: 3px solid #bd1414;
}
@media screen and (orientation: portrait) {
  .wrapper-3 .wrapper-3-container .wrapper-3-items .wrapper-3-item .wrapper-3-point {
    display: none;
  }
}
.wrapper-3 .wrapper-3-bar {
  width: 1vmax;
  background-color: #bd1414;
}
@media screen and (orientation: portrait) {
  .wrapper-3 .wrapper-3-bar {
    display: none;
  }
}

.wrapper-4 {
  width: 100%;
  padding: 6vmax 10%;
}
@media screen and (orientation: portrait) and (max-width: 550px) {
  .wrapper-4 {
    padding: 6vmax 5%;
  }
}
.wrapper-4 .wrapper-4-container {
  margin-top: 4vmax;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3vmax;
}
@media screen and (orientation: portrait) {
  .wrapper-4 .wrapper-4-container {
    grid-template-columns: 1fr;
    row-gap: 5vmax;
  }
}
.wrapper-4 .wrapper-4-container .wrapper-4-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper-4 .wrapper-4-container .wrapper-4-item .wrapper-4-item-img {
  width: 13vmax;
  height: 15vmax;
  background-color: darkgreen;
}
@media screen and (orientation: portrait) {
  .wrapper-4 .wrapper-4-container .wrapper-4-item .wrapper-4-item-img {
    width: 17vmax;
    height: 20vmax;
  }
}
@media screen and (orientation: portrait) and (max-width: 550px) {
  .wrapper-4 .wrapper-4-container .wrapper-4-item .wrapper-4-item-img {
    width: 13vmax;
    height: 15vmax;
  }
}
.wrapper-4 .wrapper-4-container .wrapper-4-item .wrapper-4-item-content {
  width: 60%;
}
.wrapper-4 .wrapper-4-container .wrapper-4-item .wrapper-4-item-content .wrapper-4-item-title {
  font-size: 1.7vmax;
  font-weight: 500;
}
@media screen and (orientation: portrait) {
  .wrapper-4 .wrapper-4-container .wrapper-4-item .wrapper-4-item-content .wrapper-4-item-title {
    font-size: 2.5vmax;
  }
}
.wrapper-4 .wrapper-4-container .wrapper-4-item .wrapper-4-item-content .wrapper-4-item-description {
  font-size: 1.1vmax;
  font-weight: 300;
  margin-top: 0.5vmax;
}
@media screen and (orientation: portrait) {
  .wrapper-4 .wrapper-4-container .wrapper-4-item .wrapper-4-item-content .wrapper-4-item-description {
    width: 100%;
    font-size: 1.8vmax;
  }
}/*# sourceMappingURL=about.css.map */