$main-color: #bd1414;
$black: #000;
$gray: #ececec;
$white: #fefefe;

@mixin center-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

  scroll-behavior: smooth;
  a {
    text-decoration: none;
    color: $black;
  }
}

.header {
  width: 100%;
  height: 6vmax;

  padding: 0 5vmax;

  background-color: $white;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (orientation: portrait) {
    height: 10vmax;
  }
  .logo {
    width: 8vmax;
    height: 4.5vmax;

    background-image: url(../assets/icons/logos/reichenspurner-logo.png);
    @include center-img;
    background-color: $white;
    @media screen and (orientation: portrait) {
      height: 7vmax;
      width: 12vmax;
    }
  }
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;

    list-style: none;
    @media screen and (orientation: portrait) {
      position: absolute;
      top: 10vmax;
      right: 0;

      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 60%;
      height: 90vmax;
      padding: 3vmax 0;

      z-index: 10;

      background-color: $white;
      display: none;
    }
    @media screen and (orientation: portrait) and (max-width: 550px) {
      width: 100%;
    }
    .navigation-item {
      margin: 0 2vmax;
      font-size: 1.1vmax;
      font-weight: 400;
      color: $black;

      position: relative;

      cursor: pointer;
      @media screen and (orientation: portrait) {
        font-size: 2.4vmax;
        margin: 3vmax 0;
        text-align: center;
      }
      &::after {
        content: '';
        width: 0;
        height: 3px;

        position: absolute;
        bottom: -0.25vmax;
        left: 0;

        transition: 150ms ease-in;
        background-color: $main-color;
      }
      &:hover {
        &::after {
          transition: 150ms ease-in;
          width: 100%;
        }
      }
    }
    .contact {
      color: $main-color;
    }
    .navigation-places-section {
      position: relative;
      @media screen and (orientation: portrait) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .navigation-places-btn {
        outline: none;
        border: none;
        background-color: transparent;

        display: flex;
        align-items: center;
        .navigation-places-btn-icon {
          width: 1vmax;
          height: 1vmax;

          margin-left: 0.5vmax;
          transform: rotate(90deg);
          transition: 150ms ease-in-out;

          background-image: url(../assets/icons/index-wrapper-1-btn1.svg);
          @include center-img;
          @media screen and (orientation: portrait) {
            width: 1.5vmax;
            height: 1.5vmax;
          }
        }
      }
      .places-btn-active {
        .navigation-places-btn-icon {
          transition: 150ms ease-in-out;
          transform: rotate(270deg);
        }
      }
      .navigation-places-list {
        position: absolute;
        list-style: none;
        background-color: $main-color;
        width: 150%;
        padding: 2vmax;
        top: -3vmax;

        transition: 150ms ease-in-out;
        display: none;
        transform: scaleY(0);
        @media screen and (orientation: portrait) {
          position: relative;
          width: unset;
        }
        .navigation-places-item {
          margin: 1.5vmax 0;
          color: $white;
          @media screen and (orientation: portrait) {
            margin: 2.5vmax 0;
          }
        }
      }
      .places-list-active {
        transition: 150ms ease-in-out;
        display: block;
        transform: scaleY(1);
        top: 3.8vmax;
        @media screen and (orientation: portrait) {
          top: unset;
        }
      }
    }
  }

  .navigation-active {
    display: flex;
  }

  .burger-menu {
    width: 3vmax;
    height: 2.5vmax;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border: none;
    background-color: transparent;

    display: none;
    @media screen and (orientation: portrait) {
      display: flex;
    }
    .burger-line {
      width: 100%;
      height: 3.5px;
      background-color: $main-color;
      transition: 150ms ease-in-out;
    }
  }

  .burger-active {
    justify-content: center;
  }

  .burger-active .burger-line:first-child {
    display: none;
    justify-content: center;
  }
  .burger-active .burger-line:nth-child(2) {
    transform: rotate(45deg);
    margin-bottom: -3.5px;
  }
  .burger-active .burger-line:nth-child(3) {
    transform: rotate(-45deg);
  }
}
