$main-color: #bd1414;
$black: #000;
$gray: #ececec;
$white: #fefefe;

@mixin center-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

  scroll-behavior: smooth;
  a {
    text-decoration: none;
    color: $black;
  }
}

.prod-active {
  color: $main-color;
  font-weight: 500 !important;
}
.section-title {
  font-size: 2.4vmax;
  font-weight: 600;
  color: $main-color;
  @media screen and (orientation: portrait) {
    font-size: 3.5vmax;
  }
}

.section-description {
  font-size: 1.2vmax;
  font-weight: 300;

  margin-top: 1vmax;
  @media screen and (orientation: portrait) {
    font-size: 1.8vmax;
  }
}
.wrapper {
  width: 50%;
  margin-left: 5%;
  padding: 4vmax 0;
  @media screen and (orientation: portrait) {
    width: 80%;
    margin-left: 10%;
  }
  @media screen and (orientation: portrait) and (max-width: 550px) {
    width: 90%;
    margin-left: 5%;
  }
}
.wrapper-1 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  background-image: url(../assets/img/products-wrapper-1-bg.jpg);
  @media screen and (orientation: portrait) {
    justify-content: center;
  }
  @include center-img;
  .wrapper-1-content {
    background-color: $white;
    width: 40%;

    margin-left: 8%;
    margin-top: 12%;
    padding: 3vmax;
    @media screen and (orientation: portrait) {
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }
    @media screen and (orientation: portrait) and (max-width: 550px) {
      width: 90%;
    }
    .wrapper-1-title {
      font-size: 2.6vmax;
      font-weight: 600;
      color: $main-color;
      @media screen and (orientation: portrait) {
        font-size: 4.2vmax;
      }
    }
    .wrapper-1-description {
      font-size: 1.1vmax;
      font-weight: 300;

      margin-top: 1vmax;
      @media screen and (orientation: portrait) {
        font-size: 1.8vmax;
      }
    }
    .wrapper-1-btn {
      border: none;
      border-bottom: 2px solid $main-color;

      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3vmax;
      padding: 0.25vmax 0;

      font-size: 1.1vmax;

      cursor: pointer;

      color: $main-color;
      background-color: $white;
      @media screen and (orientation: portrait) {
        font-size: 1.8vmax;
      }
      &:hover {
        .wrapper-1-btn-icon {
          margin-left: 1vmax;
          transition: 150ms ease-in-out;
        }
      }
      .wrapper-1-btn-icon {
        width: 1vmax;
        height: 1vmax;

        margin-left: 0.5vmax;
        @include center-img;
        background-image: url(../assets/icons/index-wrapper-1-btn1.svg);
        filter: invert(16%) sepia(93%) saturate(2734%) hue-rotate(352deg)
          brightness(94%) contrast(96%);
        @media screen and (orientation: portrait) {
          width: 1.5vmax;
          height: 1.5vmax;
        }
      }
    }
  }
  .products-menu {
    position: fixed;
    top: 20%;
    right: 10%;
    background-color: $white;

    list-style: none;
    padding: 2vmax 4vmax;
    -webkit-box-shadow: -1px 1px 8px 1px rgba(0, 0, 0, 0.3);
    box-shadow: -1px 1px 8px 1px rgba(0, 0, 0, 0.3);
    @media screen and (orientation: portrait) {
      display: none;
    }
    .products-menu-item {
      font-size: 1.2vmax;
      font-weight: 300;
      margin: 0.5vmax 0;
    }
  }
}

.w2 {
  .wrapper-2-gallery-container {
    width: 100%;
    margin-top: 3vmax;
    display: grid;
    grid-template-areas:
      'item1 item1'
      'item2 item3'
      'item2 item4';
    grid-template-columns: repeat(2, 1fr);
    gap: 1vmax;
    .wrapper-2-gallery-item {
      @include center-img;
      width: 100%;
      min-height: 20vmax;

      background-color: burlywood;
    }
    .item1 {
      background-image: url();
      grid-area: item1;
    }
    .item2 {
      background-image: url();
      grid-area: item2;
    }
    .item3 {
      background-image: url();
      grid-area: item3;
    }
    .item4 {
      background-image: url();
      grid-area: item4;
    }
  }
}

.w3 {
  .wrapper-3-gallery-container {
    width: 100%;
    margin-top: 3vmax;
    display: grid;
    grid-template-areas:
      'item1 item2'
      'item3 item3';
    grid-template-columns: repeat(2, 1fr);
    gap: 1vmax;
    .wrapper-3-gallery-item {
      @include center-img;
      width: 100%;
      min-height: 20vmax;

      background-color: burlywood;
    }
    .item1 {
      background-image: url();
      grid-area: item1;
    }
    .item2 {
      background-image: url();
      grid-area: item2;
    }
    .item3 {
      background-image: url();
      grid-area: item3;
    }
    .item4 {
      background-image: url();
      grid-area: item4;
    }
  }
}

.w4 {
  .wrapper-4-gallery-container {
    width: 100%;
    margin-top: 3vmax;
    display: grid;
    grid-template-areas:
      'item1 item2'
      'item1 item3';
    grid-template-columns: repeat(2, 1fr);
    gap: 1vmax;
    .wrapper-4-gallery-item {
      @include center-img;
      width: 100%;
      min-height: 20vmax;

      background-color: burlywood;
    }
    .item1 {
      background-image: url();
      grid-area: item1;
    }
    .item2 {
      background-image: url();
      grid-area: item2;
    }
    .item3 {
      background-image: url();
      grid-area: item3;
    }
    .item4 {
      background-image: url();
      grid-area: item4;
    }
  }
}

.w5 {
  .wrapper-5-gallery-container {
    width: 100%;
    margin-top: 3vmax;
    display: grid;
    grid-template-areas:
      'item1 item1'
      'item2 item4'
      'item3 item4';
    grid-template-columns: repeat(2, 1fr);
    gap: 1vmax;
    .wrapper-5-gallery-item {
      @include center-img;
      width: 100%;
      min-height: 20vmax;

      background-color: burlywood;
    }
    .item1 {
      background-image: url();
      grid-area: item1;
    }
    .item2 {
      background-image: url();
      grid-area: item2;
    }
    .item3 {
      background-image: url();
      grid-area: item3;
    }
    .item4 {
      background-image: url();
      grid-area: item4;
    }
  }
}

.w6 {
  .wrapper-6-gallery-container {
    width: 100%;
    margin-top: 3vmax;
    display: grid;
    grid-template-areas:
      'item1 item2'
      'item3 item3';
    grid-template-columns: repeat(2, 1fr);
    gap: 1vmax;
    .wrapper-6-gallery-item {
      @include center-img;
      width: 100%;
      min-height: 20vmax;

      background-color: burlywood;
    }
    .item1 {
      background-image: url();
      grid-area: item1;
    }
    .item2 {
      background-image: url();
      grid-area: item2;
    }
    .item3 {
      background-image: url();
      grid-area: item3;
    }
    .item4 {
      background-image: url();
      grid-area: item4;
    }
  }
}

.w7 {
  .wrapper-7-gallery-container {
    width: 100%;
    margin-top: 3vmax;
    display: grid;
    grid-template-areas:
      'item1 item3'
      'item2 item3';
    grid-template-columns: repeat(2, 1fr);
    gap: 1vmax;
    .wrapper-7-gallery-item {
      @include center-img;
      width: 100%;
      min-height: 20vmax;

      background-color: burlywood;
    }
    .item1 {
      background-image: url();
      grid-area: item1;
    }
    .item2 {
      background-image: url();
      grid-area: item2;
    }
    .item3 {
      background-image: url();
      grid-area: item3;
    }
    .item4 {
      background-image: url();
      grid-area: item4;
    }
  }
}
